.content {
    max-width: 1080px;
    margin: auto;

    &__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        & .button {
            &:last-child {
                margin-left: 8px;
            }
        }

        & .select {
            min-width: 160px;
            margin-right: 16px;
        }

        & .text-input {
            min-width: 160px;
            width: 100%;
            margin-right: 16px;
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    &__data {
        &-item {
            position: relative;
            padding: 16px 0;
            padding-bottom: 8px;
            border-bottom: 1px solid $alto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:last-child {
                border-bottom-color: transparent;
            }

            & div:first-child {
                padding-right: 16px;
            }

            & p {
                margin-bottom: 8px;
                font-size: 15px;
                line-height: 16px;

                &:first-child {
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 24px;
                }

                &:last-child {
                    color: $boulder;
                    font-size: 12px;
                }

                & span {
                    color: $persimmon;
                }
            }

            & small {
                color: $boulder;
            }
        }
    }

    &__editor {
        padding: 0 16px;

        &-wrapper {
            border: 1px solid $alto;

            & .rdw-editor-toolbar {
                padding: 8px;
                margin: 0;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid $alto;
            }
        }
    }

    &-display {
        & h2 {
            margin-bottom: 16px;
        }

        & table {
            width: 100%;

            & td {
                padding: 16px 0;
                padding-right: 16px;

                &:first-child {
                    width: 30%;
                }

                & .text-input {
                    margin: 0;
                    width: 100%;
                }

                & .select {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        &__button {
            margin-top: 16px;
            text-align: right;

            & .button {
                min-width: 100px;

                &:first-child {
                    margin-right: 16px;
                }
            }
        }

        &__loading {
            margin-top: 16px;
            text-align: right;
            font-size: 12px;
            line-height: 16px;
        }

        &__error {
            margin-top: 16px;
            text-align: right;
            font-size: 12px;
            line-height: 16px;
            color: $persimmon;
        }
    }
}

@media(max-width: 640px) {
    .content__filter {
        flex-direction: column;
        align-items: flex-end;

        & .select {
            width: 100%;
            margin-right: 0;
        }

        & .text-input {
            margin-right: 0;
        }

        &-button {
            margin: 16px 0;
        }
    }

    .content-display table td:first-child {
        width: initial;
    }
}