.select {
    appearance: none;
    padding: 8px;
    padding-left: 0;
    margin: 16px 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: $tundora;
    border: none;
    border-bottom: 1px solid $alto;
    border-radius: 0;
    outline: none;
    background-color: $white;
}