/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: #484848;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
}

body #root {
  height: 100%;
}

h1 {
  font-size: 44px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
}

small {
  font-size: 10px;
  line-height: 10px;
}

a {
  text-decoration: initial;
  color: #008489;
}

a:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid #008489;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #008489;
  padding: 0 16px;
  white-space: nowrap;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button--primary {
  background-color: #008489;
  color: #FFFFFF;
}

.button--large {
  font-size: 17px;
  line-height: 32px;
  height: 48px;
}

.button--medium {
  font-size: 14px;
  line-height: 24px;
  height: 40px;
}

.button--small {
  font-size: 11px;
  line-height: 16px;
  height: 32px;
}

.button--disabled {
  border-color: #DBDBDB;
  background-color: #DBDBDB;
  color: #767676;
}

.button--disabled:hover {
  cursor: not-allowed;
}

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  padding-left: 0;
  margin: 16px 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #484848;
  border: none;
  border-bottom: 1px solid #DBDBDB;
  border-radius: 0;
  outline: none;
  background-color: #FFFFFF;
}

.select--disabled {
  color: #767676;
}

.select--disabled:hover {
  cursor: not-allowed;
}

.text-input {
  padding: 8px;
  padding-left: 0;
  margin: 16px 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #484848;
  border: none;
  border-bottom: 1px solid #DBDBDB;
}

.text-input::-webkit-input-placeholder {
  opacity: 0.56;
}

.text-input:-ms-input-placeholder {
  opacity: 0.56;
}

.text-input::-ms-input-placeholder {
  opacity: 0.56;
}

.text-input::placeholder {
  opacity: 0.56;
}

.text-input--block {
  display: block;
  width: 100%;
}

.text-input--disabled {
  color: #767676;
}

.text-input--disabled:hover {
  cursor: not-allowed;
}

.content {
  max-width: 1080px;
  margin: auto;
}

.content__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__filter .button:last-child {
  margin-left: 8px;
}

.content__filter .select {
  min-width: 160px;
  margin-right: 16px;
}

.content__filter .text-input {
  min-width: 160px;
  width: 100%;
  margin-right: 16px;
}

.content__filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content__data-item {
  position: relative;
  padding: 16px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #DBDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__data-item:last-child {
  border-bottom-color: transparent;
}

.content__data-item div:first-child {
  padding-right: 16px;
}

.content__data-item p {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 16px;
}

.content__data-item p:first-child {
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
}

.content__data-item p:last-child {
  color: #767676;
  font-size: 12px;
}

.content__data-item small {
  color: #767676;
}

.content-display h2 {
  margin-bottom: 16px;
}

.content-display table {
  width: 100%;
}

.content-display table td {
  padding: 16px 0;
  padding-right: 16px;
}

.content-display table td:first-child {
  width: 30%;
}

.content-display table td .text-input {
  margin: 0;
  width: 100%;
}

.content-display table td .select {
  margin: 0;
  width: 100%;
}

.content-display__button {
  margin-top: 16px;
  text-align: right;
}

.content-display__button .button {
  min-width: 100px;
}

.content-display__button .button:first-child {
  margin-right: 16px;
}

.content-display__loading {
  margin-top: 16px;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
}

.content-display__error {
  margin-top: 16px;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #FF5A5F;
}

@media (max-width: 640px) {
  .content__filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .content__filter .select {
    width: 100%;
    margin-right: 0;
  }

  .content__filter .text-input {
    margin-right: 0;
  }

  .content__filter-button {
    margin: 16px 0;
  }

  .content-display table td:first-child {
    width: initial;
  }
}

.home {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.home__header {
  position: fixed;
  top: 0;
  left: 0;
  height: 81px;
  width: 100%;
  padding: 8px 24px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E4E4E4;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.home__logout {
  color: #008489;
}

.home__logout:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home__content {
  padding: 24px;
  padding-top: 105px;
  padding-bottom: 75px;
}

.home__footer {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 59px;
  margin-top: -59px;
  width: 100%;
  border-top: 1px solid #E4E4E4;
  padding: 24px;
  text-align: right;
  z-index: 2;
}

@media (max-width: 640px) {
  .home__content {
    padding: 16px;
    padding-top: 97px;
    padding-bottom: 87px;
  }
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #ABECD6 0%, #FBED96 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
}

.login__box {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-top: -64px;
}

.login__box p {
  color: #767676;
}

.login__box .button {
  width: 100px;
  float: right;
  margin-bottom: 16px;
}

.login__author {
  display: block;
  text-align: center;
  clear: both;
}

.login__loading {
  padding-right: 116px;
  font-size: 12px;
  line-height: 16px;
}

.login__error {
  padding-right: 116px;
  font-size: 12px;
  line-height: 16px;
  color: #FF5A5F;
}

