.login {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, $waterLeaf 0%, $sweetCorn 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;

    &__box {
        position: relative;
        width: 100%;
        max-width: 400px;
        min-width: 300px;
        padding: 24px;
        background-color: rgba($white, 0.7);
        border-radius: 4px;
        margin-top: -64px;

        & p {
            color: $boulder;
        }

        & .button {
            width: 100px;
            float: right;
            margin-bottom: 16px;
        }
    }

    &__author {
        display: block;
        text-align: center;
        clear: both;
    }

    &__loading {
        padding-right: 116px;
        font-size: 12px;
        line-height: 16px;
    }

    &__error {
        padding-right: 116px;
        font-size: 12px;
        line-height: 16px;
        color: $persimmon;
    }
}