//  Base Colors
$white: #FFFFFF;
$black: #000000;

//  Black Spectrum
$tundora: #484848;
$boulder: #767676;
$alto: #DBDBDB;
$mercury: #E4E4E4;

//  Red Spectrum
$persimmon: #FF5A5F;

//  Green Spectrum
$waterLeaf: #ABECD6;

//  Blue Spectrum
$teal: #008489;

//  Yellow Spectrum
$sweetCorn: #FBED96;