//  Base Colors
$white: #FFFFFF;
$black: #000000;

//  Black Spectrum
$tundora: #484848;
$boulder: #767676;
$alto: #DBDBDB;

//  Red Spectrum

//  Green Spectrum
$waterLeaf: #ABECD6;

//  Blue Spectrum
$teal: #008489;

//  Yellow Spectrum
$sweetCorn: #FBED96;