.button {
    border: 1px solid $teal;
    border-radius: 4px;
    background-color: $white;
    color: $teal;
    padding: 0 16px;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }

    &--primary {
        background-color: $teal;
        color: $white;
    }

    &--error {
        color: $persimmon;
        border-color: $persimmon;
    }

    &--large {
        font-size: 17px;
        line-height: 32px;
        height: 48px;
    }

    &--medium {
        font-size: 14px;
        line-height: 24px;
        height: 40px;
    }

    &--small {
        font-size: 11px;
        line-height: 16px;
        height: 32px;
    }

    &--disabled {
        border-color: $alto;
        background-color: $alto;
        color: $boulder;

        &:hover {
            cursor: not-allowed;
        }
    }
}